html {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-image: url("images/background.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: "helvetica neue", sans-serif;
}

#keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #keys .key {
        line-height: 1;
        border: 2px solid #eeeeee;
        color: #eeeeee;
        margin: 0 5px;
        width: 120px;
        text-align: center;
        border-radius: 3px;
        transition: all .05s ease;
        box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    }

        #keys .key kbd {
            display: block;
            font-size: 3.5rem;
            font-weight: bold;
            margin: 20px 0 15px 0;
        }

        #keys .key div {
            margin: 0 0 10px 0;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: #bdbdbd;
        }

    #keys .key.playing {
        transform: scale(1.05);
        border-color: #ff3d00;
    }