html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#keys {
    display: flex;
}

    #keys .key {
        line-height: 1;
        border: 2px solid #000;
        margin: 0 5px;
        padding: 0 15px;
        text-align: center;
    }

        #keys .key kbd {
            display: block;
            font-size: 35px;
            font-weight: bold;
            margin: 20px 0 20px 0;
        }

        #keys .key div {
            margin: 0 0 10px 0;
            font-size: 16px;
            text-transform: uppercase;
        }